*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 14px;
}

#date_calendar{
    width: 550px ; height: 280px; border: 1px solid #e7e7e7 ;padding: 5px;overflow: hidden;
}
#date_calendar #calendar_note{
    width: 550px ;
}

#date_calendar #calendar_note .month_prev,.month_now {
    width: 49.2%;  height: 300px; display: inline-block
}
#date_calendar #calendar_note .month_prev h5,.month_now h5{
    text-align: center; color: #777 ;font-weight: 600
}

#date_calendar #calendar_plus{
    width: 550px ;
}

#date_calendar #calendar_plus .month_prev,.month_now {
    width: 49.2%;  height: 300px; display: inline-block
}
#date_calendar #calendar_plus .month_prev h5,.month_now h5{
    text-align: center; color: #777 ;font-weight: 600
}




#date_calendar .month_prev table {
    width: 94%;
    height: 75%;
    margin-left: 3%;
    font-size: 0.9rem;
    color: #666;
}
#date_calendar .month_prev table td {
    width: 14.3%;
}
#date_calendar .month_prev h5 {
    padding-top: 5%;

    padding-bottom: 9%;
}

#date_calendar .month_now table {
    width: 94%;
    height: 75%;
    margin-left: 3%;
    font-size: 0.9rem;
    color: #666;
}
#date_calendar .month_now table td {
    width: 14.3%;
}
#date_calendar .month_now h5 {
    padding-top: 5%;

    padding-bottom: 9%;
}
#date_calendar  {
    position: relative;
}
#date_calendar .calendar_prev{
    position:absolute;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 20px;
    left: 10px;
    top: 10px;
    background: #f7f7f7;
    cursor: pointer;
    z-index: 2;

}

#date_calendar .calendar_next{
    position:absolute;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 20px;
    right: 10px;
    top: 10px;
    background: #f7f7f7;
    cursor: pointer;
    z-index: 2;
}
#date_calendar .calendar_prev:hover{
    background: #eee;

}
#date_calendar .calendar_next:hover{
    background: #eee;

}
#date_calendar .calendar_prev img{
    width:20px ;
    padding-top: 2px;
    padding-left: 2px;
}
#date_calendar .calendar_next img{
    width:20px;
    padding-top: 2px;
    padding-left: 2px;
}




#date_calendar #calendar_note{
    position: absolute;
    left: 0px;
    top: 0px;
    background: #ffffff;
    z-index: 0;
}
#date_calendar #calendar_plus{
    position: absolute;
    left: 550px;
    top: 0px;
    background: #ffffff;
    z-index: 1;
}


#date_calendar  table td:lang(wh):hover{
    cursor: pointer;
    border-radius: 100%;
    background: #f5f5f5;

}
#date_calendar .now{
    border-radius: 100%;
    background: #f79851;
    color: #666;
}
#date_calendar .now:hover{
    background: #f7782a;
    cursor: pointer;
}

#date_calendar  table tr:nth-child(1) td:hover{
    cursor: auto;
    background: #ffffff;
}