

*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
html, body {
    height: 100%;
    width: 100%;
    position: absolute;
    font-size:10px;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*������½ǵĸߵ�logo������*/

.amap-logo img{
    display: none;
}
.amap-mcode{
    display: none;

}

#left_bar{
    position: absolute;
    width: 35px;
    height: 100%;
    background: #F7F7F7;
    box-shadow: 0 0 4px #dbdada;
    z-index: 1;
    top: 0;
    left: 0;
}

#left_bar .menu_ul{
    padding-top: 20px;
    width: 100%;
}

#left_bar .menu_ul li{
    width: 100%;
    margin: 15px 0px;

}
#left_bar .menu_ul li:hover{
    background: #e0e0e0;
}

#left_bar .menu_ul img{
    width: 55%;
    margin-top: 5px;
    margin-left: 25%;
}





#left_bar .diolg_ul {
    position: relative;
    width: 160px;
    top: -224px;
    left:35px;
}
#left_bar .diolg_ul li{
    background: url("../svg/diog.svg") 100% 100%;
    background-size: 100%;
}

#left_bar .diolg_ul img{
    width: 100%;
}

#left_bar .diolg_ul li{
    position: absolute;
    width: 80px;
    height: 35px;

    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 1.35rem;
    color: #666;
    margin-top: 10px;
    /*opacity: 0;*/
    top: 3px;
    left: -150px;
    z-index: -1;
}
#left_bar .diolg_ul li:nth-child(2){
    top:45px;
    left: -150px;
}
#left_bar .diolg_ul li:nth-child(3){
    top:86px;
    left: -150px;
}
#left_bar .diolg_ul li:nth-child(4){
    top:127px;
    left: -150px;
}

#left_bar .diolg_ul li:nth-child(5){
    top:169px;
    left: -150px;
}

#left_bar span{
    display: block;
    position: absolute;
    width: 150px;
    height: 100%;
    background: #419641;
    top:0;
    left:-155px;
}

#screen{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9998;
    filter:alpha(opacity=0);
    opacity: 0;
    display: none;

}

#loading {
    position: absolute;
    width: 200px;
    height: 110px;
    text-align: center;
    font-size: 10px;
    left: 40%;
    top: 40%;
    /*border: 1px solid red;*/
    z-index: 9999;
}

#loading > div {
    background-color: #666;
    height: 100%;
    margin-left: 2%;
    width: 8px;
    display: inline-block;
    border-radius: 25px;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

#loading .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#loading .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#loading .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#loading .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}


 #left_flat span{
    display: block;
    position: absolute;
    width: 100px;
    height: 100%;
    /*opacity: 0;*/
    /*filter:alpha(opacity=0);*/
    left: -150px;
    top: 0;

}
 #left_flat span:nth-child(1){
    left:-100px;
    background: red;
}

 #left_flat span:nth-child(2){
    left:-100px;
    background: blue;
}

