*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
    position: absolute;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*清楚左下角的高德logo和声明*/

.amap-logo img{
    display: none;
}
.amap-mcode{
    display: none;

}

