<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title><?=$this->title?></title>
    <script src="/js/tool.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/d3.js"></script>
    <script src="/js/topojson.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body >
<div id="map"></div>

<div id="left_flat">
    <span>
        <h4>SXPI航班数据可视化</h4>
        <h5>简要查询</h5>
        <table border="0" width="90%" align="center" cellpadding="0" cellspacing="0"  >
            <form>
                <tr class="qf_option">
                    <td >
                        <input class="qf_input" type="text" name="qf"  >
                        <img class="qf_img_down" src="/svg/select_down.svg"/>
                        <ul class="qf_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                                <?php if($v['default']=='yes'):?>
                                    <li value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                                <?php  endif;?>

                                <?php if($v['default']=='no'):?>
                                    <li value="<?=$v['id']?>" ><?=$v['type']?></li>
                                <?php  endif;?>
                            <?php endforeach;?>
                        </ul>


                    </td>
                    <td> </td>
                    <td align="right">
                        <img class="dd_img_down" src="/svg/select_down.svg"/>
                        <input class="dd_input" type="text" name="dd"  value="">
                        <ul class="dd_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                                <?php if($v['default']=='yes'):?>
                                    <li value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                                <?php  endif;?>

                                <?php if($v['default']=='no'):?>
                                    <li value="<?=$v['id']?>" ><?=$v['type']?></li>
                                <?php  endif;?>
                            <?php endforeach;?>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="qf_text" type="text" name="qf_jc" key="0" placeholder="">
                        <ul class="qf_select_info" type="qf">
                            <div class="loading" style="width: 15%;margin-top: 5%;margin-left: 10%;position: relative;">
                                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="100%" height="40px" viewBox="0 0 50 50" style="background: none; float: left ;display: inline-block; enable-background:new 0 0 50 50;" xml:space="preserve">
                                  <path fill="#ddd" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributeType="xml"
                                      attributeName="transform"
                                      type="rotate"
                                      from="0 25 25"
                                      to="360 25 25"
                                      dur="0.6s"
                                      repeatCount="indefinite"/>
                                    </path>
                                </svg>
                                <h6 style="float: left;position: absolute;left: 40px;top:5px;font-weight: 400;color:#666;  letter-spacing: 0.1rem;padding-bottom: 0.8rem;">loading...</h6>
                            </div>

                            <div class="context">

                            </div>


                        </ul>
                    </td>
                    <td align="center" valign="center"><img src="/svg/round.svg" width="70%" /></td>
                    <td>
                        <input class="dd_jc" type="text" name="dd_jc" key="0" placeholder="">
                    </td>
                </tr>
                <tr>

                    <td colspan="3" class="td_zz" >
                        <input class="zz_select" type="text"  placeholder="中转：按机场" >
                        <img class="zz_img_down" src="/svg/select_down.svg"/>
                        <strong style="font-weight: normal;color: #999 ;">|</strong>
                        <input class="zz_jc" type="text" key="1" name="zz_jc" placeholder="中转机场"  >
                        <ul class="zz_opt">
                            <li value="0">按机场</li>
                            <li value="1">按省/市</li>
                            <li value="2">按区域</li>
                            <li value="3">按国家</li>
                        </ul>

                    </td>

                </tr>
                <tr>
                    <td style="position: relative" >
                        <input id="qf_time" class="qf_time" type="text" placeholder="起始日期" />
                        <div id="date_calendar">
                            <div  id="calendar_note">
                                <div class="month_prev"  >
                                    <h5>2018年4月</h5>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" >1</td>
                                            <td align="center" valign="center" >2</td>
                                            <td align="center" valign="center" >3</td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="month_now"  >
                                    <h5>2018年5月</h5>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" >1</td>
                                            <td align="center" valign="center" >2</td>
                                            <td align="center" valign="center" >3</td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <span id="calendar_prev" class="calendar_prev" >
                                <img  src="svg/prev_calendar.svg" />
                            </span>
                            <span id="calendar_next"  class="calendar_next" >
                                <img  src="svg/next_calendar.svg" />
                            </span>

                            <div id="calendar_plus">
                                <div class="month_prev"  >
                                    <h5>2018年6月</h5>
                                    <table border="0" cellpadding="0" cellspacing="0" >
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="month_now" >
                                    <h5 >2018年7月</h5>
                                    <table border="0" cellpadding="0" cellspacing="0" >
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                    </table>
                                </div>


                            </div>


                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input class="dd_time" type="text"  placeholder="截至日期">
                    </td>
                </tr>

                <tr>
                    <td colspan="3" class="airline_company" >
                        <input class="company_text" type="text"  placeholder="航空公司">
                        <img src="/svg/plane.svg"/>
                        <ul class="airline_company_info" type="company">
                            <div class="loading" style="width: 15%;margin-top: 5%;margin-left: 10%;position: relative;">
                                <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="100%" height="40px" viewBox="0 0 50 50" style="background: none; float: left ;display: inline-block; enable-background:new 0 0 50 50;" xml:space="preserve">
                                  <path fill="#ddd" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
                                    <animateTransform attributeType="xml"
                                      attributeName="transform"
                                      type="rotate"
                                      from="0 25 25"
                                      to="360 25 25"
                                      dur="0.6s"
                                      repeatCount="indefinite"/>
                                    </path>
                                </svg>
                                <h6 style="float: left;position: absolute;left: 40px;top:5px;font-weight: 400;color:#666;  letter-spacing: 0.1rem;padding-bottom: 0.8rem;">loading...</h6>
                            </div>

                            <div class="context">

                            </div>


                        </ul>
                    </td>
                </tr>

                <tr >
                    <td class="from1_button" colspan="3" >
                        <button class="submit" >查询</button>
                    </td>
                </tr >
            </form>

        </table>

    </span>
    <span class="filter">过滤</span>
</div>

<div id="left_bar" >
    <!--提示框-->
    <ul class="menu_ul" >
        <li><img src="/svg/list.svg"></li>
        <li><img src="/svg/search.svg"></li>
        <li><img src="/svg/filter.svg"></li>
        <li><img src="/svg/set.svg"></li>
        <li><img src="/svg/other.svg"></li>
    </ul>
    <ul class="diolg_ul" >
        <li>菜单</li>
        <li>搜索</li>
        <li>筛选</li>
        <li>设置</li>
        <li>更多</li>
    </ul>
    <span class="span_menu">
        <h6>SXPI航班数据可视化</h6>
        <hr >
        <ul>
            <li class="clear">
                <img src="/svg/search_menu.svg">
                <h6>航班数据查询</h6>
            </li>
            <li  class="clear">
                <img src="/svg/filter_menu.svg">
                <h6>数据过滤</h6>
            </li>
            <li  class="clear">
                <img src="/svg/map_menu.svg">
                <h6>地图样式</h6>
            </li>
            <li class="clear">
                <img src="/svg/data_menu.svg">
                <h6>数据统计</h6>
            </li>
            <li  class="clear">
                <img src="/svg/menu_info.svg">
                <h6>关于我们</h6>
            </li>
        </ul>
    </span>


</div>
<div id="screen">
    <div id="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>






</body>
<script src="/js/init.js"></script>
<script src="/js/calendar.js"></script>
<script src="/js/render.js"></script>
</html>