<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title><?=$this->title?></title>
    <script src="/js/tool.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/ajax.js"></script>
    <script src="/js/d3.js"></script>
    <script src="/js/topojson.js"></script>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body >
<div id="map">

</div>

<div id="left_flat">
    <span>
        <h4>SXPI航班数据可视化</h4>
        <h5>条件查询</h5>
        <table border="0" width="90%" align="center" cellpadding="0" cellspacing="0"  >
            <form>
                <tr class="qf_option">
                    <td >
                        <input class="qf_input" type="text" name="qf"  >
                        <img class="qf_img_down" src="/svg/select_down.svg"/>
                        <ul class="qf_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                                <?php if($v['default']=='yes'):?>
                                    <li value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                                <?php  endif;?>

                                <?php if($v['default']=='no'):?>
                                    <li value="<?=$v['id']?>" ><?=$v['type']?></li>
                                <?php  endif;?>
                            <?php endforeach;?>
                        </ul>
                    </td>
                    <td> </td>
                    <td align="right">
                        <img class="dd_img_down" src="/svg/select_down.svg"/>
                        <input class="dd_input" type="text" name="dd"  value="">
                        <ul class="dd_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                                <?php if($v['default']=='yes'):?>
                                    <li value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                                <?php  endif;?>

                                <?php if($v['default']=='no'):?>
                                    <li value="<?=$v['id']?>" ><?=$v['type']?></li>
                                <?php  endif;?>
                            <?php endforeach;?>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="search_qf_text_td">
                        <input class="qf_text" type="text" name="qf_jc" key="0" placeholder="">
                        <div class="popover search_ariport_popover  fade right in " style=" " >
                            <div class="arrow" style="top: 50%;"></div>
                            <h3 class="popover-title">注意</h3>
                            <div class="popover-content">
                                <p>1.机场、城市、国家名称不能含有特殊字符和数字</p>
                                <p>2.起飞和到达地理信息必须填写其中一项</p>
                            </div>
                        </div>
                        <ul class="search_qf_info" type="qf">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>
                        </ul>
                    </td>
                    <td class="center" align="center" valign="center"><img src="/svg/round.svg" width="70%" /></td>
                    <td class="search_dd_text_td">
                        <input class="dd_jc" type="text" name="dd_jc" key="0" placeholder="">
                        <ul class="search_dd_info" type="dd">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="td_zz " >
                        <input class="zz_select" type="text"  placeholder="" >

                        <div class="popover search_zz_popover  fade right in "  >
                            <div class="arrow" style="top: 50%;"></div>
                            <h3 class="popover-title">注意</h3>
                            <div class="popover-content">
                                <p>1.机场、城市、国家名称不能含有特殊字符和数字</p>
                                <p>2.选填项</p>
                            </div>
                        </div>


                        <img class="zz_img_down" src="/svg/select_down.svg"/>
                        <strong style="font-weight: normal;color: #999 ;">|</strong>
                        <input class="zz_jc" type="text" name="zz_jc" placeholder=""  >
                        <ul class="search_zz_info" type="zz">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>
                        </ul>
                        <ul class="zz_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                            <?php if($v['default']=='yes'):?>
                            <li value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                            <?php  endif;?>

                            <?php if($v['default']=='no'):?>
                            <li value="<?=$v['id']?>" ><?=$v['type']?></li>
                            <?php  endif;?>
                            <?php endforeach;?>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td style="position: relative" >
                        <input id="qf_time" class="qf_time" type="text" placeholder="起始日期" />
                        <div class="popover search_time_popover  fade right in " style=" " >
                            <div class="arrow" style="top: 50%;"></div>
                            <h3 class="popover-title">注意</h3>
                            <div class="popover-content">
                                <p>1.起始日期和截止日期都必须填写，不能含特殊字符</p>
                                <p>2.日期格式为:xxxx-xx-xx</p>
                            </div>
                        </div>
                        <div id="date_calendar">
                            <div  id="calendar_note">
                                <div class="month_prev"  >
                                    <h5>2018年4月</h5>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" >1</td>
                                            <td align="center" valign="center" >2</td>
                                            <td align="center" valign="center" >3</td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>

                                    </table>
                                </div>
                                <div class="month_now"  >
                                    <h5>2018年5月</h5>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" >1</td>
                                            <td align="center" valign="center" >2</td>
                                            <td align="center" valign="center" >3</td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                            <span id="calendar_prev" class="calendar_prev" >
                                <img  src="svg/prev_calendar.svg" />
                            </span>
                            <span id="calendar_next"  class="calendar_next" >
                                <img  src="svg/next_calendar.svg" />
                            </span>

                            <div id="calendar_plus">
                                <div class="month_prev"  >
                                    <h5>2018年6月</h5>
                                    <table border="0" cellpadding="0" cellspacing="0" >
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="month_now" >
                                    <h5 >2018年7月</h5>
                                    <table border="0" cellpadding="0" cellspacing="0" >
                                        <tr>
                                            <td align="center" valign="center" style="color: #ff5921">日</td>
                                            <td align="center" valign="center" >一</td>
                                            <td align="center" valign="center" >二</td>
                                            <td align="center" valign="center" >三</td>
                                            <td align="center" valign="center" >四</td>
                                            <td align="center" valign="center" >五</td>
                                            <td align="center" valign="center" style="color: #ff5921">六</td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                        <tr>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                            <td align="center" valign="center" ></td>
                                        </tr>
                                    </table>
                                </div>


                            </div>


                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input class="dd_time" type="text"  placeholder="截至日期">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="airline_company" >
                        <input class="company_text" type="text"  placeholder="航空公司">
                        <div class="popover search_company_popover  fade right in "  >
                            <div class="arrow" style="top: 50%;"></div>
                            <h3 class="popover-title">注意</h3>
                            <div class="popover-content">
                                <p>1.航空公司名称不能包含特殊字符和数字</p>
                                <p>2.航空公司名称不能超过50个字符</p>
                            </div>
                        </div>
                        <img src="/svg/plane.svg"/>
                        <ul class="search_company_info" >
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>
                        </ul>
                    </td>
                </tr>
                <tr >
                    <td class="from1_button" colspan="3" >
                        <div class="submit">查询</div>
                    </td>
                </tr >

            </form>

        </table>

        <div class="ks_search" >
            <h6 class="ks_search_title">快速查询</h6>
            <div style="margin-top: 25px;margin-left: 35px;">

                <strong>
                    <input type="radio" name="flight_type" id="on_ch" value="on_ch">
                    <label for="on_ch">国内航班</label>
                </strong>

                <strong>
                    <input type="radio" name="flight_type" id="on_world" value="on_world">
                    <label for="on_world">国际航班</label>
                </strong>

                <strong>
                    <input type="radio" name="flight_type" id="out_ch" value="out_ch">
                    <label for="out_ch">出境航班</label>
                </strong>

                <strong>
                    <input type="radio" name="flight_type" id="in_ch" value="in_ch">
                    <label for="in_ch">入境航班</label>
                </strong>

                <strong>
                    <input type="radio" name="flight_type" id="no_over" value="no_over">
                    <label for="no_over">直飞航班</label>
                </strong>

                <strong>
                    <input type="radio" name="flight_type" id="over" value="over">
                    <label for="over">经停航班</label>
                </strong>

                <strong>
                    <input type="radio" name="flight_type" id="on_gat" value="on_gat">
                    <label for="on_gat">港澳台航班</label>
                </strong>



            </div>
        </div>
        <h6 class="h6_other" >更多...</h6>
        <div class="jq_search"  >
            <h6 class="jq_search_title">精确查询</h6>
            <textarea spellcheck="false" ></textarea>
            <button class="search_button">确认</button>
        </div>
        <div class="popover jq_search_popover  fade right in "  >
            <div class="arrow" style="top: 50%;"></div>
            <h3 class="popover-title">注意</h3>
            <div class="popover-content">
                <p>1.输入要查询的航班号</p>
                <p>2.航班号不能含有特殊字符</p>
                <p>3.多个航班号用逗号(英文半角)分隔</p>
            </div>
        </div>

    </span>
    <span class="filter">
        <h4>SXPI航班数据可视化</h4>
        <h5>数据筛选</h5>
        <table border="0" width="90%" align="center" cellpadding="0" cellspacing="0">
            <form>
                <tr>
                    <td class="filter_type" colspan="3" type="show" >
                        <span class="hide">只显示筛选后的数据</span>
                        <span class="show">高亮显示筛选的数据</span>
                        <hr >
                    </td>
                </tr>

                <tr>
                    <td class="filter_qf_td" >
                        <input class="filter_qf_input" type="text"/>
                        <img class="qf_img_down" src="/svg/select_down.svg"/>
                        <ul class="filter_qf_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                            <?php if($v['default']=='yes'):?>
                            <li column="<?=$v['column']?>" value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                            <?php  endif;?>

                            <?php if($v['default']=='no'):?>
                            <li column="<?=$v['column']?>" value="<?=$v['id']?>" ><?=$v['type']?></li>
                            <?php  endif;?>
                            <?php endforeach;?>
                        </ul>

                    </td>
                    <td style="width: 40px;"></td>
                    <td align="right" class="filter_dd_td">
                        <img class="dd_img_down" src="/svg/select_down.svg"/>
                        <input class="filter_dd_input" type="text"/>
                        <ul class="filter_dd_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                            <?php if($v['default']=='yes'):?>
                            <li column="<?=$v['column']?>" value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                            <?php  endif;?>

                            <?php if($v['default']=='no'):?>
                            <li column="<?=$v['column']?>" value="<?=$v['id']?>" ><?=$v['type']?></li>
                            <?php  endif;?>
                            <?php endforeach;?>
                        </ul>

                    </td>
                </tr>

                <tr >
                    <td style="" class="filter_qf_text_td">
                        <input class="filter_qf_text" placeholder="" />
                        <ul class="filter_qf_info" type="qf">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>

                        </ul>
                    </td>
                    <td align="center" valign="center"><img class="center_img" src="/svg/round.svg" width="70%" /></td>
                    <td class="filter_dd_text_td">
                        <input class="filter_dd_text" placeholder="" />
                        <ul class="filter_dd_info" type="qf">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>

                        </ul>
                    </td>
                </tr>

                <tr>
                    <td colspan="3" class="filter_zz_td " style="position: relative;">
                        <input class="filter_zz_opt" type="text"  placeholder="" >
                        <img class="filter_zz_img_down" src="/svg/select_down.svg"/>
                        <ul class="zz_opt">
                            <?php foreach($this->_data['query_type'] as $v) :?>
                            <?php if($v['default']=='yes'):?>
                            <li column="<?=$v['column']?>" value="<?=$v['id']?>" select="select"><?=$v['type']?></li>
                            <?php  endif;?>

                            <?php if($v['default']=='no'):?>
                            <li column="<?=$v['column']?>" value="<?=$v['id']?>" ><?=$v['type']?></li>
                            <?php  endif;?>
                            <?php endforeach;?>
                        </ul>

                        <strong style="font-weight: normal;color: #999 ;">|</strong>
                        <input class="filter_zz_text" type="text"   placeholder=""  >
                        <ul class="filter_zz_info" type="zz">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>

                        </ul>
                    </td>

                </tr>

                <tr class="filter_time">
                    <td style="position: relative">
                        <input class="filter_qf_time" class="qf_time" type="text" placeholder="起始日期" />
                    </td>
                    <td></td>
                    <td>
                        <input class="filter_dd_time" type="text"  placeholder="截至日期">
                    </td>
                </tr>

                <tr>
                    <td colspan="3" class="filter_company_td">
                        <input class="filter_company_text" type="text"  placeholder="航空公司">
                        <img src="/svg/plane.svg"/>
                        <ul class="filter_company_info" type="qf">
                            <div class="loading" >
                                <div class="ing">
                                    <div class="canvas" >
                                        <div class="spinner"></div>
                                    </div>
                                    <span style="/*border: 1px solid red;*/display: inline-block;width: 4.5rem;line-height: 3.5rem;margin-left: 2.5rem;background: none;left:0px;font-size:10px;margin-left:5.2rem;">加载中...</span>

                                </div>
                                <span class="trim" style=" width:100%;height:25px;color: #999;line-height: 25px; left:0px;text-align: center;display:none;left:0px;font-size:10px;">抱歉，未检索到相关结果..</span>
                            </div>
                            <div class="context">

                            </div>

                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="filter_button" colspan="3">
                        <div class="submit" >确认过滤</div>
                    </td>
                </tr>
                <tr >

                    <td  class="filter_checkbox"  colspan="3" >

                        <div style="border: 1px solid #ddd;background: #f5f5f5; border-radius: 5px;padding: 15px;">
                            <table border="0" cellpadding="0" width="70%" valign="center" >
                                <tr>
                                    <td >
                                        <input type="radio" name="on" id="on_ch2"  value="on_ch" > <label for="on_ch2" >国内航班</label>
                                    </td>
                                    <td class="td2">
                                        <input type="radio"  name="on" id="on_world2" value="on_world" > <label for="on_world2" >国际航班</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="on"  id="out_ch2"  value="out_ch" > <label  for="out_ch2"  >出境航班</label>
                                    </td>
                                    <td class="td2">
                                        <input type="radio" name="on" id="in_ch2"    value="in_ch" > <label for="in_ch2"  >入境航班</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="on" id="on_gat2"  value="on_gat" > <label  for="on_gat2" >港澳台航班</label>
                                    </td>
                                    <td class="td2">
                                        <input type="radio" name="on"  id="over2"  value="over" > <label for="over2" >经停航班</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="on" id="no_over2"  value="no_over" > <label for="no_over2" >直飞航班</label>
                                    </td>
                                    <td class="td2">

                                    </td>
                                </tr>

                            </table>
                        </div>

                    </td>
                </tr>



              





            </form>
        </table>



    </span>
</div>

<div id="left_bar" >
    <!--提示框-->
    <ul class="menu_ul" >
        <li><img src="/svg/list.svg"></li>
        <li><img src="/svg/search.svg"></li>
        <li><img src="/svg/filter.svg"></li>
        <li><img class="other" src="/svg/set.svg"></li>
        <li><img class="other" src="/svg/other.svg"></li>
    </ul>
    <ul class="diolg_ul" >
        <li>菜单</li>
        <li>搜索</li>
        <li>筛选</li>
        <li>设置</li>
        <li>更多</li>
    </ul>
    <span class="span_menu">
        <h6>SXPI航班数据可视化</h6>
        <hr >
        <ul>
            <li class="clear">
                <img src="/svg/search_menu.svg">
                <h6>航班数据查询</h6>
            </li>
            <li  class="clear">
                <img src="/svg/filter_menu.svg">
                <h6>数据过滤</h6>
            </li>
            <li  class="clear other">
                <img src="/svg/map_menu.svg">
                <h6>地图样式</h6>
            </li>
            <li class="clear other">
                <img src="/svg/data_menu.svg">
                <h6>数据统计</h6>
            </li>
            <li  class="clear other">
                <img src="/svg/menu_info.svg">
                <h6>关于我们</h6>
            </li>
        </ul>
    </span>


</div>
<div id="screen">
    <div id="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<div id="flight_info">
    <h6 class="flight_info flight_city">城市对：<span></span></h6>
    <h6 class="flight_info flight_code">航班号：<span></span></h6>
    <h6 class="flight_info flight_company">航空公司：<span></span></h6>
    <h6 class="flight_info flight_qf_jc">起飞机场：<span></span></h6>
    <h6 class="flight_info flight_zz_jc"></h6>
    <h6 class="flight_info flight_mb_jc">目标机场：<span></span></h6>
    <h6 class="flight_info flight_qf_time">起飞时间：<span></span></h6>
    <h6 class="flight_info flight_dd_time">到达时间：<span></span></h6>
    <!--<h6 class="flight_info flight_len">len：<span></span></h6>-->
</div>
<div id="flight_info_plus">
    <div class="img_down">
        <img src="/svg/down.svg">
    </div>

    <div class="qf_delay_chart">

    </div>



    <div class="flight_info">

        <div class="flight_info_qf" >
            <h6 class="flight_info_qf_city"> </h6><h6 class="flight_info_qf_time"> </h6>
            <h6 class="flight_info_qf_airport"> </h6>
        </div>



        <div class="flight_info_number" >
            <img src="/svg/right_jt.svg" >
            <h6 class="flight_number_h"></h6>
        </div>

        <div class="flight_info_dd" >
            <h6 class="flight_info_dd_city">New York </h6><h6 class="flight_info_dd_time"></h6>
            <h6 class="flight_info_dd_airport">John F Kennedy International Airport (JFK/KJFK)</h6>
        </div>



        <h6 class="flight_company">航空公司：<span class="context"></span></h6>
        <div class="delay_lenght" >
            <div class="qf_delay_lenght">
                <h6 class="time_lenght"><span class="context">0.00</span><span>min</span></h6>
                <h6 class="time_lenght_info">起飞平均延误时长</h6>
            </div>
            <div class="dd_delay_lenght">
                <h6 class="time_lenght"><span class="context">0.00</span><span>min</span></h6>
                <h6 class="time_lenght_info">降落平均延误时长</h6>
            </div>
        </div>
    </div>


    <div class="dd_delay_chart">


    </div>



    <!--航班状态(提前，延误，取消)面板-->
</div>






</body>
<script src="/js/init.js"></script>
<script src="/js/calendar.js"></script>
<script src="/js/render.js"></script>
</html>